   * {
            box-sizing: border-box;
            background-color: cornsilk;
        

        }

        /* Add a gray background color with some padding */
        body {
            font-family: Arial;
            padding: 20px;
           
        }
        table,th,td
        {
        border:1px solid blue;
        background-color: aquamarine;
        }

        /* Header/Blog Title */
        .header {
            padding: 30px;
            font-size: 40px;
            text-align: left;
            
        }


        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .survey {
            padding: 20px;
            text-align: left;
            background-color: bisque;;
            margin-top: 20px;
            
        }

        