/*CSS reset settings here*/
*{
 margin: 4px;
 padding: 4px;
 background-color: gray;

}
#wrapper{
 width: 950px;
 background-color: silver;
 margin-left: 10px ;
 padding:4px;
 
}
#header{
 min-height: 150px;
 background-color: green;
}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display:inline-block;
}
#main_content{
 min-height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 text-align:left;
 vertical-align: top;
 margin-left:15px;
 
 
}
.subcontents{
 min-height: 200px;
 width: 210px;
 background-color: yellow;
 margin:5px;
 padding:2px;
 display:inline-block;
}
#advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
 text-align: center;
}
